<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.mapper.JinMeiMapper" >
    <select id="listZhiBiao" resultType="com.bonc.pojo.JinMei" >
        select * from t_jinmei
    </select>
    <insert id="insert" parameterType="com.bonc.pojo.JinMei"
    				keyProperty="id" 	useGeneratedKeys="true">
    	insert into t_jinmei values (#{id},#{name},#{hui},#{liu},#{huifa},#{zhishu})
    </insert>
</mapper>
