<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.mapper.YuanMeiMapper" >
    <select id="findAll" resultType="com.bonc.pojo.YuanMei" >
        select * from t_yuanmei
    </select>
</mapper>
