<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.mapper.YuanMeiMapper" >
    <select id="findAll" resultType="com.bonc.pojo.YuanMei" >
        select * from t_yuanmei
    </select>
     <!-- 添加原煤 返回主键    -->
    <insert id="addYuanMei" parameterType="com.bonc.pojo.YuanMei"
    				keyProperty="id" 	useGeneratedKeys="true">
    	insert into t_yuanmei values (#{id},#{name},#{hui},#{liu},#{huifa},#{zhishu},#{huishou},#{chengben},#{status})
    </insert>
      <select id="findAllBystatus" resultType="com.bonc.pojo.YuanMei" parameterType="int" >
        select * from t_yuanmei where status=#{0}
    </select>
    
</mapper>
