<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.mapper.YuanMeiMapper" >
    <select id="findAll" resultType="com.bonc.pojo.YuanMei" >
        select * from t_yuanmei
    </select>
     <!-- 添加原煤 返回主键    -->
    <insert id="addYuanMei" parameterType="com.bonc.pojo.YuanMei"
    				keyProperty="id" 	useGeneratedKeys="true">
    	insert into t_yuanmei values (#{id},#{name},#{hui},#{liu},#{huifa},#{zhishu},#{huishou},#{chengben},#{status})
    </insert>
      <select id="findAllBystatus" resultType="com.bonc.pojo.YuanMei" parameterType="int" >
        select * from t_yuanmei where status=#{0}
    </select>
    <delete id="deleteYuanMeiByIds" parameterType="int[]">
      delete from t_yuanmei where id in 
		<!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item 
			: 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
        <foreach collection="array" item="id" separator=","  open="(" close=")">
            #{id}
        </foreach>
    </delete>
    
     <update id="updateYuanMeis" parameterType="hashMap">
      update t_yuanmei set status = #{status} where id in 
		<!-- forEach : 用来循环 collection : 用来指定循环的数据的类型 可以填的值有：array,list,map item 
			: 循环中为每个循环的数据指定一个别名 index : 循环中循环的下标 open : 开始 close : 结束 separator : 数组中元素之间的分隔符 -->
        <!-- <foreach collection="array" item="id" separator=","  open="(" close=")" >
            #{id}
        </foreach> -->
        
        <foreach collection="yuanMeiIds" item="id" separator=","  open="(" close=")" >
            #{id}
        </foreach>
    </update>
    
    
    
    
</mapper>
